<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to edit_text, edit_book_path(@book) %>
  <%= link_to back_text, books_path %>

  <%= button_to delete_text, @book, method: :delete %>
</div>
