<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:report_title) %>:</strong>
    <%= report.report_title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:report_body) %>:</strong>
    <%= report.report_body %>
  </p>

</div>
